## /etc/xnbd.conf
# Network block device: client
# {{ ansible_managed }}

{
{% for host in groups['xnbd-server'] %}
  "nbd{{ loop.index0 }}": {
    "host": "{{ hostvars[host].xnbd_address }}",
    "port": {{ xnbd_port }},
    "name": "0"
  }{{ ',' if not loop.last else '' }}
{% endfor %}
}
